.wizard1 {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../Images/surveyBackground.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#SurveyHeader1{
    width: 75vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    /* position: fixed; */
    height: 8vh;
    /* top: 0; */
}
.wizard1 > .surveyDiv1 > h1 {
    font-family: 'Playfair Display', serif;
    /* font-style: italic; */
    text-align: center;
}

.surveyDiv1{
    margin-top: 25vh;
    /* height: 50vh; */
    width: 50vw;
    background-image: radial-gradient(rgba(5,4,2,.3), rgba(5,4,2,0));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.surveyButtons1{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.surveyButton {
    background-color: rgba(5,4,2,0);
    color: black;
    border-color: black;
    border-radius: 9999em;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 50px;  
    width: 250px;
    align-self: center;
    font-weight: bold;
    font-size: 100%;
}
.surveyButtonClicked {
    background-color: rgba(5,4,2,7);
    color: white;
    border-color: black;
    border-radius: 9999em;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 50px;  
    width: 250px;
    align-self: center;
    font-weight: bold;
    font-size: 100%;
}

#survey_links_div1 {
    height: 5vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.survey_links {
    align-self: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
}
.survey_links:hover {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 160%;
}
.survey_links:visited {
    color: black;
}

@media (max-width: 500px){
    .surveyDiv1{
        /* margin-top: 25vh; */
        width: 90vw;
    }
    .surveyDiv1 > h1{
        font-size: 150%;
        margin-bottom: 5vh;
        
    }
    #survey_links_div1{
        width: 90vw;
    }
    .surveyButtons1{
        width: 90vw;
    }
}
@media (max-height: 500px){
    .surveyDiv1{
        /* margin-top: 25vh; */
        width: 90vw;
        height: 80vh;;
    }
    .surveyDiv1 > h1{
        font-size: 130%;
        margin-bottom: 5vh;
    }
    /* #survey_links_div1{

    } */
    .surveyButtons1{
        width: 90vw;
    }
}