#profile_page {
    background-image: url('../../Images/WF8zph1.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
#profile_main {
    display: flex;
    flex-direction: row;
}
#profile_body {
    width: 70vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ProfileHeader {
    /* width: 100vw; */
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2vw;
}
#ProfileHeader > h2 {
    color: black;
    padding-right: 2vw;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
}
#logout_div {
    width: 80px;
    display: flex;
    margin-right: 2vw;
    flex-direction: column;
    justify-content: center;
    height: 4vh;
    border: 2px solid black;
    border-radius: 9999em;
}
#logout {
    align-self: center;
    color: black;
    text-decoration: none;
}
#logout:visited{
    color: black;
}
#profile_info {
    /* padding-left: 3vw; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    height: 30vh;
}
#profile_info_hide {
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
}
#profile_info_edit {
    padding-left: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    height: 30vh;
}
#imageEdit {
    height: 32vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#imageInputDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;
}
#profileInputFile {
    width: 10vw;
}
.profileInputField {
    color: black;
    background-color: rgba(5,4,2,0);
    border: none;
    font-size: 120%;
    height: 30px;
}
.profile_button {
    height: 30px;
    width: 70px;
    border: 2px solid black;
    border-radius: 9999em;
    color: black;
    background-color: rgba(5,4,2,0);
}
#bestButton{
    height: 30px;
    width: 120px;
    border: 2px solid black;
    border-radius: 9999em;
    color: black;
    background-color: rgba(5,4,2,0);
}
#profile_info_edit_hide {
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
}
.text_info {
    margin-left: 2vw;
    color: black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35vw;
}
#bestBreedsList {
    margin-right: 3vw;
    height: 15vh;
    overflow: scroll;
}
#bestBreedsList::-webkit-scrollbar {
    width: 2px;
  }
  
#bestBreedsList::-webkit-scrollbar-track {
/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

#bestBreedsList::-webkit-scrollbar-corner {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

#bestBreedsList::-webkit-scrollbar-thumb {
background-color: rgb(37, 37, 37);
/* outline: 0px solid slategrey; */
}


#profile_favorites {
    border: 1px solid black;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3vh;
}

#profile_bottom_links {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.profile_bottom_link_div {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4vh;
    border: 2px solid black;
    border-radius: 9999em;
}
.profile_link {
    align-self: center;
    color: black;
    text-decoration: none;
}
.profile_link:visited {
    color: black;
}


#profilePic1 {
    /* margin-top: 5vh; */
    height: 27vh;
    border-radius: 10%
}
#profilePic2 {
    /* margin-top: 5vh; */
    height: 27vh;
    -webkit-transform:rotateY(180deg);
    border-radius: 10%
}
#profilePic3 {
    /* margin-top: 5vh; */
    height: 27vh;
    -webkit-transform:rotate(180deg);
    border-radius: 10%
}
#profilePic4 {
    /* margin-top: 5vh; */
    height: 27vh;
    -webkit-transform:rotateY(180deg);
    -webkit-transform:rotate(180deg);
    border-radius: 10%
}
#profilePic5 {
    /* margin-top: 5vh; */
    height: 27vh;
    -webkit-transform:rotateY(180deg);
    -webkit-transform:rotate(-90deg);
    border-radius: 10%
}
#profilePic6 {
    /* margin-top: 5vh; */
    height: 27vh;
    -webkit-transform:rotate(90deg);
    border-radius: 10%
}
#profilePic7 {
    /* margin-top: 5vh; */
    height: 27vh;
    -webkit-transform:rotateY(180deg);
    -webkit-transform:rotate(90deg);
    border-radius: 10%
}
#profilePic8 {
    /* margin-top: 5vh; */
    height: 27vh;
    -webkit-transform:rotate(-90deg);
    border-radius: 10%
}

@media (max-width: 850px){
    #ProfileHeader > h2 {
        font-size: 150%
    }
    #ProfileHeader{
        height: 10vh;
    }
  }

  @media (max-width: 600px){
    #profile_page{
        height: 200vh;
    }
    #profile_main {
        display: flex;
        flex-direction: column;
    }
    #profile_body{
        width: 100vw;
        height: 150vh;
    }
    #profile_info{
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    }
    #profile_info_edit{
        flex-direction: column;
        height: 80vh;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
    #imageEdit{
        width: 100vw;
        justify-content: space-around;
    }
    #imageInputDiv{
        width: 35vw;
    }
    #profileInputFile{
        width: 30vw;
    }
    .text_info{
        width: 50vw;
        align-items: center;
        text-align: center;
    }
    .profileInputField{
        width: 50vw;
        font-size: 150%;
        color: gray;
        font-style: italic;
        border-bottom: 1px solid black;
    }
    #bestBreedsList {
        height: 23vh;
    }
    #profile_favorites {
        border: 1px solid black;
        width: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0;
    }
    #profilePic1 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #profilePic2 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        -webkit-transform:rotateY(180deg);
    }
    #profilePic3 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        -webkit-transform:rotate(180deg);
    }
    #profilePic4 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        -webkit-transform:rotateY(180deg);
        -webkit-transform:rotate(180deg);
    }
    #profilePic5 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        -webkit-transform:rotateY(180deg);
        -webkit-transform:rotate(-90deg);
    }
    #profilePic6 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        -webkit-transform:rotate(90deg);
    }
    #profilePic7 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        -webkit-transform:rotateY(180deg);
        -webkit-transform:rotate(90deg);
    }
    #profilePic8 {
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        -webkit-transform:rotate(-90deg);
    }
  }
