#resultsFullDiv {
    width: 100vw;
    height: 200vh;
    background-image: url('../../../Images/results1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#resultsHeader{
    width: 75vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    top: 0;
}

@media (max-width: 800px){
    #resultsFullDiv{
        height: 150vh;
    }
    #resultsHeader{
        margin-top: 3vh;
    }
}