#PetProfileFull{
    width: 100vw;
    height: 100vh;
    background-image: url('../../Images/petProfile.jpg');
    background-size: cover;
}
#fullDiv{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#petProfileHeader{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
#petProfileHeaderLoggedIn{
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
#petProfileHeaderLinks{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#petProfileLinkDiv {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    border: 2px solid black;
    border-radius: 9999em;
}
#petProfileLink {
    align-self: center;
    color: black;
    text-decoration: none;
}
#earchLinkDiv{
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4vh;
    border: 2px solid black;
    border-radius: 9999em;
}

#petProfileLink:visited {
    color: black;
}
.petProfileInputField{
    background-color: rgba(5,4,2,0);
    border: 2px solid black;
    padding: 5px;
    border-radius: 999em;
}
.petProfileInputField::placeholder{
    color: black;
}
#PetProfileCenter{
    height: 53vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#centerLeft{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#centerLeft > #leftTop > .petProfileInfo > h3 {
    margin: 5px;
    /* padding: 0px; */
}
#leftTop{
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.petProfileInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
#leftBottom{
    width: 45vw;
    height: 30vh;
    overflow-y: scroll;
}
#leftBottom::-webkit-scrollbar {
    width: 2px;
}
  
#leftBottom::-webkit-scrollbar-track {
/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}

#leftBottom::-webkit-scrollbar-corner {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

#leftBottom::-webkit-scrollbar-thumb {
background-color: rgb(37, 37, 37);
/* outline: 0px solid slategrey; */
}
#centerRight{
    padding-top: 3vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#petImageSlide{
    height: 45vh;
    
}
#PetProfileImageButtons{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.PetProfileImageButton{
    width: 70px;
    background-color: rgba(5,4,2,0);
    border: 2px solid black;
    padding: 5px;
    border-radius: 999em;
}
.contactButton{
    width: 250px;
    background-color: rgba(5,4,2,0);
    border: 2px solid black;
    padding: 5px;
    border-radius: 999em;
}

.otherShelterPetDiv{
    display: flex;
    flex-direction: row;
}
#PetProfileFooter{
    height: 27vh;
}
.PetProfileFooterImg{
    height: 10vh;
}

#petProfileButton{
    width: 224px;
    height: 34px;
    background-color: rgba(5,4,2,0);
    border: 2px solid black;
    /* padding: 5px; */
    border-radius: 999em;
    font-size: 100%; 
}

#denied{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    width: 50vw;
}
#deniedDiv{
    padding-top: 25vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 451px) and (max-width: 1024px){
    #PetProfileFull{
        height: 150vh;
        background-position: center;
    }
    #fullDiv{
        height: 150vh;
    }
    #PetProfileLoginDiv{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    #PetProfileLoginDiv > h1{
        width: 80vw;
        text-align: center;
    }
    #PetProfileCenter{
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    #centerLeft{
        width: 80vw;
    }
    #leftTop{
        width: 80vw;
    }
    #leftBottom{
        width: 80vw;
        height: 20vh;
    }
    #centerRight{
        width: 80vw;
    }
    .PetProfileImageButton{
        margin-top: 3vh;
    }
}

@media (max-width: 450px){
    #PetProfileFull{
        height: 200vh;
        
    }
    #PetProfileLoginDiv{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    #PetProfileLoginDiv > h1{
        width: 80vw;
        text-align: center;
    }
    #petProfileLoginForm {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    #fullDiv{
        height: 180vh;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
    }
    #petProfileHeader{
        margin-top: 3vh;
        height: 40vh;
    }
    #PetProfileCenter{
        flex-direction: column;
        height: 130vh;
        align-items: center;
    }
    #centerLeft{
        width: 80vw;
    }
    .petProfileInfo > h2{
        font-size: 150%
    }
    #leftTop{
        width: 80vw;
    }
    #leftBottom{
        width: 80vw;
        height: 20vh;
    }
    #centerRight{
        width: 80vw;
    }
    #petImageSlide{
        width: 80vw;
        height: inherit;
        /* margin-bottom: 3vh; */
    }
    #PetProfileImageButtons{
        width: 80vw;
    }
    .PetProfileImageButton{
        height: 4vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    #PetProfileFooter{
        margin-top: 3vh;
    }
    .otherShelterPetDiv{
        align-items: center;
        flex-direction: column;
        overflow: auto;
        height: 25vh;
    }
    .myPetDiv{
       min-height: 20vh;
    }
}

@media (max-height: 700px){
    #petProfileHeader{
        height: 50vh;
    }
    #petProfileHeaderLoggedIn{
        height: 30vh;
    }
    #fullDiv{
        height: 210vh;
        display: flex;
        flex-direction: column;
        align-items: center
        /* justify-content: flex-start; */
    }
    #PetProfileFull{
        height: 210vh;
        
    }#PetProfileCenter{
        flex-direction: column;
        height: 140vh;
        width: 90vw;
        align-items: center;
    }
    .petProfileInfo > h3{
        font-size: 100%
    }
    #PetProfileFooter > h2 {
        font-size: 130%;
        overflow: hidden;
        /* height: 35vh; */
    }
    #PetProfileFooter {
    }
    .otherShelterPetDiv{
        align-items: center;
        flex-direction: column;
        overflow: auto;
        height: 30vh;
    }
    .myPetDiv{
       min-height: 20vh;
    }
}